<!DOCTYPE html>
<html>
  <head>
    <!-- Make site responsive on mobile/tablet -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Roomly</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/main.css" />
    <link rel="stylesheet" href="/fonts/Anodina">
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-transparent mb-3">
      <a class="navbar-brand p-0" href="/"><img src="/images/roomly-text.svg" width="150" height="60" class="d-inline-block align-top" alt=""></a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="navbar-nav mr-auto">
          <a href="/rooms" class="nav-link nav-item <%= typeof page !== 'undefined' && page === 'rooms' ? 'active' : '' %>">Home</a>
        </div>
        <div class="navbar-nav navbar-right">
          <a href="/rooms/new" class="nav-link nav-item <%= typeof page !== 'undefined' && page === 'new' ? 'active' : '' %>">Become a host</a>
          <% if(!currentUser){ %>
            <a href="/login" class="nav-link nav-item <%= typeof page !== 'undefined' && page === 'login' ? 'active' : '' %>">Login</a>
            <a href="/register" class="nav-link nav-item <%= typeof page !== 'undefined' && page === 'register' ? 'active' : '' %>">Register</a>
          <% } else { %>
            <a class="nav-link nav-item" href="/profile">Signed In As <%= currentUser.username %></a>
            <a href="/logout" class="nav-link nav-item">Logout</a>
          <% } %>
        </div>
      </div>
    </nav>

    <div class="container">
      <% if(error && error.length > 0){ %>
        <div class="alert alert-danger" role="alert">
         <%= error %>
        </div>
      <% } %> <% if(success && success.length > 0){ %>
        <div class="alert alert-success" role="alert">
          <%= success %>
        </div>
      <% } %>
    </div>

    <div class="container">
