<!-- Navbar -->
<nav class="navbar navbar-expand-md navbar-light bg-transparent mb-3">
  <!-- Navbar Brand-->
  <a class="navbar-brand p-0 d-none d-md-inline" href="/">
    <img src="/images/roomly-logo-01.svg" width="60" height="60" class="d-inline d-lg-none align-top" alt="">
    <img src="/images/roomly-text.svg" width="150" height="60" class="d-none d-lg-inline align-top" alt="">
  </a>
  <!-- Navbar toggler -->
  <button class="navbar-brand p-0 navbar-toggler brand" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <img src="/images/roomly-logo-01.svg" width="60" height="60" class="d-inline d-lg-none align-top" alt="">
    <span class="navbar-toggler-icon rotate"></span>
  </button>
  <!-- Navbar Search form -->
  <form class="form-inline my-2 my-lg-0 d-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-danger m-2 my-sm-0 d-none d-inline-md" type="submit">Search</button>
  </form>
  <!-- Navbar collapse -->
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <!-- Navbar collapse links -->
    <div class="navbar-nav mr-auto">
      <a href="/rooms" class="nav-link nav-item <%= typeof page !== 'undefined' && page === 'rooms' ? 'active' : '' %>">Explore</a>
    </div>
    <div class="navbar-nav navbar-right">
      <a href="/rooms/new" class="nav-link nav-item <%= typeof page !== 'undefined' && page === 'new' ? 'active' : '' %>">Become a host</a>
      <% if(!currentUser){ %>
        <a href="/login" class="nav-link nav-item <%= typeof page !== 'undefined' && page === 'login' ? 'active' : '' %>">Login</a>
        <a href="/register" class="nav-link nav-item <%= typeof page !== 'undefined' && page === 'register' ? 'active' : '' %>">Register</a>
      <% } else { %>
        <a class="nav-link d-none d-md-inline py-0 pr-0" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img src="<%= currentUser.avatar.secure_url %>" alt="Room image" width="50px" style="border-radius:50%"/>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/profile">Profile</a>
          <div class="dropdown-divider"></div>
          <a href="/logout" class="dropdown-item">Logout</a>
        </div>
        <a class="nav-link d-md-none nav-item" href="/profile">Profile</a>
        <a href="/logout" class="nav-link nav-item d-md-none">Logout</a>
      <% } %>
    </div>
  </div>
</nav>
<% include ../partials/flash-messages %>