 <div style="margin: 20px 0">
 <% if(rooms.page - 1) { %>
 	<a href="/rooms?page=<%= rooms.page - 1 %><%= queryString %>">Prev</a>
 <% } %>
 <% if(rooms.pages > 1 && rooms.docs.length) { %>
 <% for(let i = 1; i <= rooms.pages; i++) { %>
 	<a href="/rooms?page=<%= i %><%= queryString %>" <%= i === rooms.page ? 'style=color:#000' : '' %>><%= i %></a>
 <% } %>
 <% } %>
 <% if((rooms.page + 1) <= rooms.pages) { %>
 	<a href="/rooms?page=<%= rooms.page + 1 %><%= queryString %>">Next</a>
 <% } %>
 </div>