 <div style="margin: 20px 0">
 <% if(rooms.page - 1) { %>
 	<a href="/rooms?page=<%= rooms.page - 1 %>">Prev</a>
 <% } %>
 <% for(let i = 1; i <= rooms.pages; i++) { %>
 	<a href="/rooms?page=<%= i %>" <%= i === rooms.page ? 'style=color:#000' : '' %>><%= i %></a>
 <% } %>
 <% if((rooms.page + 1) <= rooms.pages) { %>
 	<a href="/rooms?page=<%= rooms.page + 1 %>">Next</a>
 <% } %>
 </div>