<% layout('layouts/boilerplate') -%>

<header class="jumbotron bg-transparent">
  <h1 class="text-center">Welcome to Roomly</h1>
  <p class="text-center">Find the perfect place to spend your next vacation</p>
</header>
<!-- Recommended Section -->
<section id="recommended">
  <h3>Recommended for you</h3>
  <div class="row text-center">
    <div class="card border-0 col-xl col-md-3 col-sm-4 col-6 text-white w-100 px-3 py-0">
      <img src="https://images.unsplash.com/photo-1551734044-8cf6396c8639?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80" alt="new york">
      <div class="card-img-overlay">
        <div class="card-img-description">
          <p class="place card-text">New York</p>
          <p class="average card-text">Average $120/night</p>
        </div>
      </div>
    </div>
    <div class="card border-0 col-xl col-md-3 col-sm-4 col-6 text-white w-100 px-3 py-0">
      <img src="https://images.unsplash.com/photo-1503891450247-ee5f8ec46dc3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80" alt="new york">
      <div class="card-img-overlay">
        <div class="card-img-description">
          <p class="place card-text">California</p>
          <p class="average card-text">Average $120/night</p>
        </div>
      </div>
    </div>
    <div class="card border-0 col-xl col-md-3 col-sm-4 col-6 d-sm-flex d-none text-white w-100 px-3 py-0">
      <img src="https://images.unsplash.com/photo-1493589976221-c2357c31ad77?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80" alt="new york">
      <div class="card-img-overlay">
        <div class="card-img-description">
          <p class="place card-text">Japan</p>
          <p class="average card-text">Average $120/night</p>
        </div>
      </div>
    </div>
    <div class="card border-0 col-xl col-md-3 col-sm-4 col-6 d-md-flex d-none text-white w-100 px-3 py-0">
      <img src="https://images.unsplash.com/photo-1541526855570-9154d61f6a8b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80" alt="new york">
      <div class="card-img-overlay">
        <div class="card-img-description">
          <p class="place card-text">Puerto Rico</p>
          <p class="average card-text">Average $120/night</p>
        </div>
      </div>
    </div>
    <div class="card border-0 col-xl d-xl-flex d-none text-white w-100 px-3 py-0">
      <img src="https://images.unsplash.com/photo-1526129318478-62ed807ebdf9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80" alt="new york">
      <div class="card-img-overlay">
        <div class="card-img-description">
          <p class="place card-text">London</p>
          <p class="average card-text">Average $120/night</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="latest">
  <h3>Recently added</h3>
  <div class="row text-left">
    <% rooms.docs.forEach(function(room){ %>
    <div class="col-xl-3 col-lg-4 col-6 mb-4">
      <div class="card border-0">
        <div class="inner">
          <% if(room.images[0]) { %>
            <img src="<%= room.images[0].url %>" onError="this.onerror=null;this.src='/images/placeholder.jpg';" class="card-img-top thumbnails" alt="<%= room.name %>" />
          <% } else { %>
            <img src="/images/placeholder.jpg" class="card-img-top thumbnails" alt="<%= room.name %>">
          <% } %>
          <i class="far fa-heart fa-2x"></i>
          <div class="heart"></div>
          <i class="fas fa-heart fa-2x"></i>
        </div>
        <div class="card-body p-0 pt-2">
          <p class="room-type">Entire Home · 1 bed</p>
          <h5 class="card-title mb-1"><%= room.name %></h5>
          <p class="mb-0"><span class="price">$<%= room.price %></span><span class="room-type">/ Night</span></p>
          <% if (room.rating === 0) { %>
            <span class="fa fa-star fa-1x"></span>
            <span class="fa fa-star fa-1x"></span>
            <span class="fa fa-star fa-1x"></span>
            <span class="fa fa-star fa-1x"></span>
            <span class="fa fa-star fa-1x"></span>
          <% } else { %>
            <span class="fa fa-star fa-1x checked"></span>
            <span class="fa fa-star fa-1x <% if (room.rating > 1.5) { %> checked <% } %>"></span>
            <span class="fa fa-star fa-1x <% if (room.rating > 2.5) { %> checked <% } %>"></span>
            <span class="fa fa-star fa-1x <% if (room.rating > 3.5) { %> checked <% } %>"></span>
            <span class="fa fa-star fa-1x <% if (room.rating > 4.5) { %> checked <% } %>"></span>
          <% } %>
          <span>(<%= room.reviews.length %>)</span>
          <a href="/rooms/<%= room._id %>" class="stretched-link"></a>
        </div>
      </div>
    </div>
    <% });%>
  </div>
  <a href="#" class="d-none d-md-block"><h5>Show all (100+)</h5></a>
  <button type="button" class="btn btn-outline-primary d-md-none d-block w-100">Show all (100+)</button>
</section>

<section id="top-rated">
  <h3>Top rated</h3>
  <div class="row text-left">
    <% rooms.docs.forEach(function(room){ %>
    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
      <div class="card border-0">
        <div class="inner">
          <% if(room.images[0]) { %>
            <img src="<%= room.images[0].url %>" onError="this.onerror=null;this.src='/images/placeholder.jpg';" class="card-img-top thumbnails" alt="<%= room.name %>" />
          <% } else { %>
            <img src="/images/placeholder.jpg" class="card-img-top thumbnails" alt="<%= room.name %>">
          <% } %>
          <i class="far fa-heart fa-2x"></i>
          <div class="heart"></div>
          <i class="fas fa-heart fa-2x"></i>
        </div>
        <div class="card-body p-0 pt-2">
          <p class="room-type mb-0">Entire Apartment · 1 bed</p>
          <h5 class="card-title mb-1"><%= room.name %></h5>
          <p class="mb-0"><span class="price">$<%= room.price %></span><span class="room-type">/ Night</span></p>
          <% if (room.rating === 0) { %>
          <span class="fa fa-star fa-1x"></span>
          <span class="fa fa-star fa-1x"></span>
          <span class="fa fa-star fa-1x"></span>
          <span class="fa fa-star fa-1x"></span>
          <span class="fa fa-star fa-1x"></span>
          <% } else { %>
          <span class="fa fa-star fa-1x checked"></span>
          <span class="fa fa-star fa-1x <% if (room.rating > 1.5) { %> checked <% } %>"></span>
          <span class="fa fa-star fa-1x <% if (room.rating > 2.5) { %> checked <% } %>"></span>
          <span class="fa fa-star fa-1x <% if (room.rating > 3.5) { %> checked <% } %>"></span>
          <span class="fa fa-star fa-1x <% if (room.rating > 4.5) { %> checked <% } %>"></span>
          <% } %>
          <span>( <%= room.reviews.length %> )</span>
          <a href="/rooms/<%= room._id %>" class="stretched-link"></a>
        </div>
      </div>
    </div>
    <% });%>
  </div>
  <a href="#" class="d-none d-md-block"><h5>Show all (100+)</h5></a>
  <button type="button" class="btn btn-outline-primary d-md-none d-block w-100">Show all (100+)</button>
</section>

<script>
  $('#carouselExample').on('slide.bs.carousel', function (e) {
      var $e = $(e.relatedTarget);
      var idx = $e.index();
      var itemsPerSlide = 3;
      var totalItems = $('.carousel-item').length;
      
      if (idx >= totalItems-(itemsPerSlide-1)) {
          var it = itemsPerSlide - (totalItems - idx);
          for (var i=0; i<it; i++) {
              // append slides to end
              if (e.direction=="left") {
                  $('.carousel-item').eq(i).appendTo('.carousel-inner');
              }
              else {
                  $('.carousel-item').eq(0).appendTo('.carousel-inner');
              }
          }
      }
  });
</script>