<% include ../partials/header %>

<div class="row justify-content-center">
  <div class="col-md-9">
    <%# Show room card %>
    <div class="card mb-3">
      <img src="<%= room.images[0].url %>" class="card-img-top show-images" alt="<%= room.name %>" />
      <div class="card-body">
        <p class="float-right">$<%= room.price %>/night</p>
        <h5 class="card-title"><strong><%= room.name %></strong></h5>
        <p><em>Submitted By <a href="/users/<%= room.author.id %>"><%= room.author.username %></a></em></p>
        <hr />
        <p class="card-text"><%= room.description %></p>
        <hr>
        <p class="card-text"><strong>Amenities</strong></p>
        <p class="card-text"></p>
        <% if (currentUser && (room.author.id.equals(currentUser._id) || currentUser.isAdmin)) { %>
        <a href="/rooms/<%= room._id %>/edit" class="btn btn-sm btn-warning">Edit</a>
        <form class="delete-form" action="/rooms/<%= room._id %>?_method=DELETE" method="POST">
          <button class="btn btn-sm btn-danger">Delete</button>
        </form>
        <% } %>
      </div>
    </div>
    <div>
      <% room.images.forEach(function(image) { %>
      <img src="<%= image.url %>" alt="Room image" width="200px"/>
      <% }); %>
    </div>
    <div class="card">
      <div class="card-body">
        <% if (room.rating === 0) { %>
          <h5><em>No reviews yet.</em></h5>
        <% } else { %>
        <p>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star <% if (room.rating > 1.5) { %> checked <% } %>"></span>
          <span class="fa fa-star <% if (room.rating > 2.5) { %> checked <% } %>"></span>
          <span class="fa fa-star <% if (room.rating > 3.5) { %> checked <% } %>"></span>
          <span class="fa fa-star <% if (room.rating > 4.5) { %> checked <% } %>"></span>
          <em>(total reviews: <%= room.reviews.length %>)</em>
        </p>
        <p>
          Current room rating: <strong><%= room.rating.toFixed(2) %></strong>
        </p>
        <p>
          <h4>Latest reviews for this room:</h4>
        </p>
        <hr style="margin-top: 0;">
        <% room.reviews.slice(0, 5).forEach(function(review){ %>
        <div class="row">
          <div class="col-md-3">
            <%- '<span class="fa fa-star checked"></span>'.repeat(review.rating) %><%- '<span class="fa fa-star"></span>'.repeat(5 - review.rating) %>
            <div>Review by: <strong><%= review.author.username %></strong></div>
            <span><em><%= review.updatedAt.toDateString() %></em></span>
          </div>
          <div class="col-md-9">
            <p style="text-align: justify; word-wrap: break-word;">
              <%= review.text %>
            </p>
            <% if(currentUser && (review.author.id.equals(currentUser._id) || currentUser.isAdmin)){ %>
            <a class="btn btn-sm btn-warning float-left mr-1"
              href="/rooms/<%=room._id %>/reviews/<%=review._id %>/edit">Edit</a>
            <form id="delete-form" action="/rooms/<%=room._id %>/reviews/<%=review._id %>?_method=DELETE"
              method="POST">
              <input type="submit" class="btn btn-sm btn-danger" value="Delete">
            </form>
            <% } %>
          </div>
        </div>
        <hr>
        <% }); %>
        <div style="margin-bottom: 10px;">
          <h5><a href="/rooms/<%= room._id %>/reviews"><i class="fa fa-search" aria-hidden="true"></i> See all
              reviews</a></h5>
        </div>
        <% } %>
        <div>
          <a class="btn btn-primary btn-md <% if (currentUser && room.reviews.some(function (review) {return review.author.id.equals(currentUser._id)})) { %> disabled <% } %>"
            href="/rooms/<%= room._id %>/reviews/new">
            Write a New Review</a>
        </div>
      </div>
    </div>
    <%  %>
    <div class="card mb-3">
      <div class="card-body">
        <%# Add Comment button section %>
        <div class="text-right">
          <a class="btn btn-success" href="/rooms/<%= room._id %>/comments/new">Add New Comment</a>
        </div>
        <hr />
        <%# Show comment feed %>
        <div class="row">
          <% room.comments.forEach(function(comment){ %>
          <div class="col-md-12">
            <strong><%= comment.author.username %></strong>
            <span class="float-right">10 days ago</span>
            <p class="card-text "><%= comment.text %></p>
            <% if (currentUser && (comment.author.id.equals(currentUser._id) || currentUser.isAdmin)) { %>
            <div class="float-right">
              <a href="/rooms/<%= room._id %>/comments/<%= comment._id %>/edit" class="btn btn-sm btn-warning">
                Edit
              </a>
              <form
                class="delete-form"
                action="/rooms/<%= room._id %>/comments/<%= comment._id %>?_method=DELETE"
                method="POST"
              >
                <button class="btn btn-sm btn-danger">Delete</button>
              </form>
            </div>
            <% } %>
          </div>
          <% }) %>
        </div>
      </div>
    </div>
    <% %>
  </div> <%# Div col %>
</div> <%# Div row show page %>

<% include ../partials/footer %>
