<% layout('layouts/boilerplate') -%>
<div class="row">
	<div class="col-lg-4 text-center">
		<div>
      <img src="<%= user.avatar.secure_url %>" alt="<%= currentUser.username %>'s profile image" class="profile-image">
    </div>
    <a href="/profile" class="btn btn-outline-dark mt-2 mb-4 <%= !currentUser || (currentUser.username !== user.username) ? 'd-none' : '' %>">Edit Profile</a>
	</div>
  <div class="col-lg-8">
    <h1>Hi, I'm <%= user.firstName + " " + user.lastName %></h1>
    <hr>
    <h4>Joined in <%= user.createdAt.getFullYear() %></h4>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error quasi similique architecto ad modi sunt quaerat possimus, officiis quos. Voluptatibus repellendus exercitationem, id saepe sunt consectetur non quam sapiente assumenda.

    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error quasi similique architecto ad modi sunt quaerat possimus, officiis quos. Voluptatibus repellendus exercitationem, id saepe sunt consectetur non quam sapiente assumenda.
    <hr>
    <h3><%= user.firstName %>'s listings:</h3>
    <div class="row text-left">
    <% rooms.forEach(function(room){ %>
    <div class="col-lg-6">
      <div class="card border-0">
        <div class="inner">
           <a href="/rooms/<%= room._id %>"><img src="<%= room.image %>" onError="this.onerror=null;this.src='/images/placeholder.jpg';" class="card-img-top thumbnails" alt="<%= room.name %>" /></a>
          <i class="far fa-heart fa-2x"></i>
          <div class="heart"></div>
          <i class="fas fa-heart fa-2x"></i>
        </div>
        <div class="card-body p-0 pt-2">
          <p class="room-type mb-0">Entire Apartment · 1 bed</p>
          <h5 class="card-title mb-1"><%= room.name %></h5>
          <p class="mb-0"><span class="price">$<%= room.price %></span><span class="room-type">/ Night</span></p>
          <% if (room.rating === 0) { %>
          <span class="fa fa-star fa-1x"></span>
          <span class="fa fa-star fa-1x"></span>
          <span class="fa fa-star fa-1x"></span>
          <span class="fa fa-star fa-1x"></span>
          <span class="fa fa-star fa-1x"></span>
          <% } else { %>
          <span class="fa fa-star fa-1x checked"></span>
          <span class="fa fa-star fa-1x <% if (room.rating > 1.5) { %> checked <% } %>"></span>
          <span class="fa fa-star fa-1x <% if (room.rating > 2.5) { %> checked <% } %>"></span>
          <span class="fa fa-star fa-1x <% if (room.rating > 3.5) { %> checked <% } %>"></span>
          <span class="fa fa-star fa-1x <% if (room.rating > 4.5) { %> checked <% } %>"></span>
          <% } %>
          <span>( <%= room.reviews.length %> )</span>
          <a href="/rooms/<%= room._id %>" class="stretched-link"></a>
        </div>
      </div>
    </div>
    <% });%>
  </div>
	</div>
</div>
